body {
    background: #000000;
    color: #ffffff;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.title {
    font-weight: normal;
    border-bottom: 2px solid;
    margin: 15px 0;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.search__condition {
    display: flex;
    align-items: center;
    grid-gap: 15px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px 105px;
    margin-bottom: 30px;
}

.product {
    width: 250px;
}

.product__status {
    position: absolute;
    top: 0;
    left: 0;
    width: 4em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bf0000;
    color: #ffffff;
}

.product__body {
    position: relative;
}

.product__image {
    display: block;
    width: 100%;
    height: auto;
}

.product__detail {
    text-align: center;
}

.product__name {
    margin: 0.5em 0;
}

.product__price {
    margin: 0.5em 0;
}

.product__shipping {
    background: #bf0000;
    color: #ffffff;
}